#signup {
  text-align: center;
  .colorize {
    color: var(--ion-color-color1);
  }
  .ion-input-error {
    font-size: 0.9rem;
  }
  .section_one {
    height: 10%;

    h2 {
      font-weight: 900;
      padding-top: 2%;
    }

    p {
      color: var(--ion-color-color1);
      font-weight: bold;
    }
  }
}
