#top-slider {
  margin-bottom: 0;
  ion-slides {
    --bullet-background: var(--ion-color-light);
    --bullet-background-active: var(--ion-color-white);

    img {
      border-radius: 10px;
    }
  }
  .button_slide {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
