<ion-item-divider color="white" class="ion-padding-top">
  <ion-label color="dark" class="text-bold">Le bioPourTous c’est quoi ? </ion-label>
</ion-item-divider>
<ion-card>

  <ion-card-header class="center">
    <img src="../../../assets/images/icon4.png" width="100px" height="100px" />
    <ion-card-subtitle>Une sélection exigeante du meilleur du bio</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content color="dark" class="text-bold">
 Une sélection exigeante du meilleur du bio
Nos produits 100% bio, sains, peu transformés, faits avec des ingrédients naturels, sans additifs et sans OGM.

  </ion-card-content>
</ion-card>
<ion-card>

  <ion-card-header class="center">
    <img src="../../../assets/images/icon5.png" width="100px" height="100px" />
    <ion-card-subtitle>Des réductions tout au long de l’année </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="center">
    Des réductions tout au long de l’année 
Nous réduisons nos marges au minimum pour offrir des prix imbattables à nos adhérents et leur faire économiser CHF 50.- par commande en moyenne.
  </ion-card-content>
</ion-card>
<ion-card>

  <ion-card-header class="center">
    <img src="../../../assets/images/icon6.png" width="100px" height="100px" />
    <ion-card-subtitle>Livraison gratuite dès CHF 60.- d’achat</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="center">
  Livraison gratuite dès CHF 60.- d’achat
Nous livrons à domicile ou un point relais partout en Suisse  des colis sans plastique et préparés avec du carton recyclé.
  </ion-card-content>
</ion-card>