<div id="bebe">
  <ion-item-divider color="white" class="ion-padding-top">
    <ion-label color="dark" class="text-bold">Tout pour votre bébé !</ion-label>
    <ion-button class="ion-margin-end" size="small" slot="end" color="color1" fill="clear" routerLink="/product/bebe">
      Voir tout</ion-button>
  </ion-item-divider>

  <ion-slides [options]="slideOpts" class="ion-padding-top">
    <ion-slide *ngFor="let item of products">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="ion-no-margin" (click)="seeDetails(item)">
              <div class="card-img container" [style.background-image]="'url(' + item.images[0] + ')'">
                <ion-badge color="color1" class="discount">{{item.discountPrice}}%</ion-badge>
              </div>

              <ion-card-content>
                <ion-row>
                  <ion-text color="color1">CHF{{item.discountPrice}} &nbsp;</ion-text>
                  <span class="previous-price"> CHFitem.price}}</span>
                </ion-row>
                <ion-row class="product-name">
                  <h4>{{item.name | slice:0:20}}</h4>
                </ion-row>
                <!--  <ion-button expand="block" color="success" size="small" >Ajouter</ion-button>-->
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</div>