#bebe {
  .card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
  }
  .container {
    position: relative;
  }
  .discount {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .product-name {
    padding: 0;
    text-align: left;

    h4 {
      font-size: 1rem;
      color: rgba(8, 8, 8, 0.58);
    }
  }

  .previous-price {
    text-decoration: line-through;
    font-size: 0.8rem;
  }

  ion-fab-button {
    --background: transparent;
    --background-focused: transparent;
    --background-activated: transparent;
  }

  .text-bold {
    font-weight: bold;
  }
}
