<ion-app>
  <ion-menu side="start" menuId="pages" type="overlay" contentId="mainContent">
    <!-- Header -->
    <ion-header>
      <ion-toolbar>
        <ion-row>
          <!-- App Icon/ User Profile Image -->

          <!-- Name of the app/ user name -->
          <ion-col offset="2" class="text-content">
            <div>Le Bio Pour Tous</div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <!-- Content Options -->
    <!-- Menus -->
    <ion-content>
      <ion-list class="ion-padding" lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon size="small" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <!-- Footer -->
    <ion-footer class="ion-no-border">
      <div class="ion-padding">
        <ion-button color="color1" expand="block" (click)="signout()">
          Déconnexion</ion-button>
      </div>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="mainContent"></ion-router-outlet>
</ion-app>