<ion-item-divider color="white" class="ion-padding-top">
  <ion-label color="dark" class="text-bold">Comment ça marche ?</ion-label>
</ion-item-divider>
<ion-card>

  <ion-card-header class="center">
    <img src="../../../assets/images/image1.png" width="100px" height="100px" />
    <ion-card-subtitle>Découvrez notre catalogue</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content color="dark" class="text-bold">
   Découvrez parmi une selection de produit bio. 
   Plus de 500 produits bio sélectionnés pour vous parmi les marques les plus engagées pour votre santé.

  </ion-card-content>
</ion-card>
<ion-card>

  <ion-card-header class="center">
    <img src="../../../assets/images/image2.png" width="100px" height="100px" />
    <ion-card-subtitle>Profitez d’un mois d’essai gratuit</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="center">
    Adhérez gratuitement pendant un mois et faites-vous livrer vos premières commandes. Annulez à tout moment.
  </ion-card-content>
</ion-card>
<ion-card>

  <ion-card-header class="center">
    <img src="../../../assets/images/image3.png" width="100px" height="100px" />
    <ion-card-subtitle>Rejoignez la communauté</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="center">
  Mois d’essai gratuit
 Souvrivez a notre formule abonnement et faites-vous livrer vos premières commandes. Annulez à tout moment.

  </ion-card-content>
</ion-card>